<div class="module-editItem">
    <form name="editItemForm" ng-submit="editItem.saveItem()">
        <h4>
            <span ng-bind="itemName"></span>
            <span class="glyphicon glyphicon-ok-circle text-success"
                ng-show="editItemForm.$submitted"></span>
        </h4>
        <div class="form-group">
            <ul ng-show="phones.length > 0" class="list-unstyled phone-list">
                <li ng-repeat="phone in phones">
                    <span ng-bind="phone"></span>
                    <button class="btn btn-link" ng-click="editItem.delPhone(phone)">
                        <span class="glyphicon glyphicon-minus-sign text-danger"></span>
                    </button>
                </li>
            </ul>
            <p class="help-block" ng-hide="phones.length > 0">Item have no phones...</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': editItemForm.itemPhone.$invalid }">
            <label for="itemPhone">Phone</label>
            <div class="input-group">
                <input type="text"
                    class="form-control"
                    id="itemPhone"
                    name="itemPhone"
                    ng-pattern="/^\d+$/"
                    ng-model="itemPhone"/>
                <div class="input-group-btn">
                    <button class="btn btn-default"
                        ng-disabled="editItemForm.itemPhone.$invalid"
                        ng-click="editItem.addPhone(itemPhone); itemPhone = '';">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Save item</button>
                <button type="button" class="btn btn-default" ng-click="editItem.back()">Back</button>
            </div>
        </div>
    </form>
</div>
